In [4]:
from models import *
from customTester import *
import pandas as pd


data_processor = DataProcessor('AKBNK.E.csv')
#creating df's for linit order book and executions
lob_snaps, execs = data_processor.lob_dfs()
execs.head()

                                     execpx  execqty
2022-09-21 10:00:00.091279766+03:00   11.81     5000
2022-09-21 10:00:00.106780169+03:00   11.80     1611
2022-09-21 10:00:00.119995765+03:00   11.80     1200
2022-09-21 10:00:00.121344635+03:00   11.80     8800
2022-09-21 10:00:00.125455159+03:00   11.80     1200

In [2]:
execs.tail()

                                     execpx  execqty
2022-09-21 18:08:43.808620603+03:00   11.52    10000
2022-09-21 18:08:46.553009344+03:00   11.52     1000
2022-09-21 18:08:48.515232861+03:00   11.52      600
2022-09-21 18:08:52.977619405+03:00   11.52    10000
2022-09-21 18:09:16.463262101+03:00   11.52     3000