In [4]:
import pandas as pd


# Original DataFrame
df = pd.DataFrame({
    'number': [1, 2, 5, 3, 6, 4, 7, 8]
})

# Find the differences between consecutive numbers
diffs = df['number'].diff()

# Find the indices where the number is greater than the previous one
greater_indices = diffs[diffs > 0].index

diffs

0    NaN
1    1.0
2    3.0
3   -2.0
4    3.0
5   -2.0
6    3.0
7    1.0
Name: number, dtype: float64

In [16]:
# Select the numbers that are greater than the previous one
selected_numbers = df.loc[greater_indices, 'number'].values

# Create a DataFrame from the selected numbers with a single column
df2 = pd.DataFrame(selected_numbers, columns=['ask1'])

# Shift the values to create the ask2 and ask3 columns
df2['ask2'] = df2['ask1'].shift()
df2['ask3'] = df2['ask2'].shift()

In [17]:
# Drop rows where ask1, ask2, or ask3 are NaN, if needed
df2.dropna(inplace=True)
df2=df2.reset_index(drop=True)
# Print the resulting DataFrame
print(df2)

   ask1  ask2  ask3
0     6   5.0   2.0
1     7   6.0   5.0
2     8   7.0   6.0