In [49]:
# Importing the pandas library.
import pandas as pd
import matplotlib as plt
import copy
from models import *

# Using pandas' read_csv function to read the data.
data= pd.read_csv('AKBNK.E.csv')

#adding column names to the data frame
column_names=["network_time", "bist_time", "msg_type", "asset_name", "side", "price", "que_loc", "qty", "order_id"]
data.columns=column_names

#removing unnecessary orders from the data frame(only the add execute and delete orders should be there) 
data = data[data["msg_type"].isin(["A", "E", "D"])]
# Reset the indexes to start from 0
data.reset_index(drop=True, inplace=True)

# converting unix time to date-time objects
data['network_time'] = pd.to_datetime(data['network_time'], unit='ns').dt.tz_localize('UTC').dt.tz_convert('Europe/Istanbul')
data['bist_time'] = pd.to_datetime(data['bist_time'], unit='ns').dt.tz_localize('UTC').dt.tz_convert('Europe/Istanbul')

data.head()

,network_time,bist_time,msg_type,asset_name,side,price,que_loc,qty,order_id
0,2022-09-21 09:55:26.244327990+03:00,2022-09-21 09:55:26.145096528+03:00,A,AKBNK.E,B,11.81,1,6000,7621969089428617284
1,2022-09-21 09:55:26.244327990+03:00,2022-09-21 09:55:26.145096528+03:00,A,AKBNK.E,B,11.81,2,100,7621969089428723717
2,2022-09-21 09:55:26.244327990+03:00,2022-09-21 09:55:26.145096528+03:00,A,AKBNK.E,B,11.81,3,10,7621969089428724890
3,2022-09-21 09:55:26.244327990+03:00,2022-09-21 09:55:26.145096528+03:00,A,AKBNK.E,B,11.81,4,5000,7621969089428940862
4,2022-09-21 09:55:26.244327990+03:00,2022-09-21 09:55:26.145096528+03:00,A,AKBNK.E,B,11.80,5,1,7621969089428616329

In [50]:
#reading the sample lob
lob_sample=pd.read_csv("sample_lob.txt")
#looping through the data to construct the order book for each network time stemp

lob_sample['Mold Package']=lob_sample['Mold Package'].str.split(';')
lob_sample=lob_sample.explode('Mold Package')
lob_sample.loc[50:55]

,Date,Asset,bid3qty,bid3px,bid2qty,bid2px,bid1qty,bid1px,ask1px,ask1qty,ask2px,ask2qty,ask3px,ask3qty,Mold Package
50,2022-09-21 09:55:26.245772288,AKBNK,10.0,11.78,51822.0,11.80,11110.0,11.81,11.82,168998.0,11.83,158335.0,11.84,150705.0,A-S-13.0-650-7621969089428696828
50,2022-09-21 09:55:26.245772288,AKBNK,10.0,11.78,51822.0,11.80,11110.0,11.81,11.82,168998.0,11.83,158335.0,11.84,150705.0,A-S-13.0-2500-7621969089428699020
50,2022-09-21 09:55:26.245772288,AKBNK,10.0,11.78,51822.0,11.80,11110.0,11.81,11.82,168998.0,11.83,158335.0,11.84,150705.0,A-S-13.0-5001-7621969089428703893
50,2022-09-21 09:55:26.245772288,AKBNK,10.0,11.78,51822.0,11.80,11110.0,11.81,11.82,168998.0,11.83,158335.0,11.84,150705.0,A-S-13.0-410-7621969089428722131
50,2022-09-21 09:55:26.245772288,AKBNK,10.0,11.78,51822.0,11.80,11110.0,11.81,11.82,168998.0,11.83,158335.0,11.84,150705.0,A-S-13.0-100-7621969089428724303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54,2022-09-21 09:55:26.246317312,AKBNK,10.0,11.78,51822.0,11.80,11110.0,11.81,11.82,168998.0,11.83,158335.0,11.84,150705.0,A-S-13.06-48-7621969089428972439
55,2022-09-21 10:00:00.091279872,AKBNK,6673.0,11.77,10.0,11.78,51822.0,11.80,11.82,168998.0,11.83,158335.0,11.84,150705.0,E-B-11.81-6000-7621969089428617284
55,2022-09-21 10:00:00.091279872,AKBNK,6673.0,11.77,10.0,11.78,51822.0,11.80,11.82,168998.0,11.83,158335.0,11.84,150705.0,E-B-11.81-100-7621969089428723717
55,2022-09-21 10:00:00.091279872,AKBNK,6673.0,11.77,10.0,11.78,51822.0,11.80,11.82,168998.0,11.83,158335.0,11.84,150705.0,E-B-11.81-10-7621969089428724890
55,2022-09-21 10:00:00.091279872,AKBNK,6673.0,11.77,10.0,11.78,51822.0,11.80,11.82,168998.0,11.83,158335.0,11.84,150705.0,E-B-11.81-5000-7621969089428940862

In [51]:
import timeit
start_time = timeit.default_timer()

lob, lob_snaps=process_orders(data)

end_time = timeit.default_timer()
elapsed_time = end_time - start_time
print(f"Elapsed time: {elapsed_time} seconds")

NameError: name 'pd' is not defined

In [ ]:
lob_snaps.head()

In [ ]:
lob_snaps.tail()

In [ ]:
lob_snaps.iloc[1000:1010]

In [ ]:
lob_snaps.iloc[-1]

In [ ]:
lob_snaps.iloc[-2]['Mold Package']