In [4]:
# Importing the pandas library.
import pandas as pd
import matplotlib as plt

# Using pandas' read_csv function to read the data.
data= pd.read_csv('AKBNK.E.csv')
#adding column names to the data frame
column_names=["network_time", "bist_time", "msg_type", "asset_name", "side", "price", "que_loc", "qty", "order_id"]
data.columns=column_names
#removing unnecessary orders from the data frame(only the add execute and dlete orders should be there) 
data = data[data["msg_type"].isin(["A", "E", "D"])]
# Reset the indexes to start from 0
data.reset_index(drop=True, inplace=True)

#converting unix time to date-time objects
data['network_time'] = pd.to_datetime(data['network_time'], unit='ns')
data['bist_time'] = pd.to_datetime(data['bist_time'], unit='ns')

data.head()

,network_time,bist_time,msg_type,asset_name,side,price,que_loc,qty,order_id
6,2022-09-21 06:55:26.244327990,2022-09-21 06:55:26.145096528,A,AKBNK.E,B,11.81,1,6000,7621969089428617284
7,2022-09-21 06:55:26.244327990,2022-09-21 06:55:26.145096528,A,AKBNK.E,B,11.81,2,100,7621969089428723717
8,2022-09-21 06:55:26.244327990,2022-09-21 06:55:26.145096528,A,AKBNK.E,B,11.81,3,10,7621969089428724890
9,2022-09-21 06:55:26.244327990,2022-09-21 06:55:26.145096528,A,AKBNK.E,B,11.81,4,5000,7621969089428940862
10,2022-09-21 06:55:26.244327990,2022-09-21 06:55:26.145096528,A,AKBNK.E,B,11.80,5,1,7621969089428616329

In [3]:
#reading the sample lob
lob_sample=pd.read_csv("sample_lob.txt")
#assigning the colımns of the sample lob to the lob that we will use
lob = pd.DataFrame(columns=lob_sample.columns)
#looping through the data to construct the order book for each network time stemp
lob_sample.head()

,Date,Asset,bid3qty,bid3px,bid2qty,bid2px,bid1qty,bid1px,ask1px,ask1qty,ask2px,ask2qty,ask3px,ask3qty,Mold Package
0,2022-09-21 09:55:26.244327936,AKBNK,10.0,11.78,51822.0,11.8,11110.0,11.81,0.0,0.0,0.0,0.0,0.0,0.0,A-B-11.81-6000-7621969089428617284;A-B-11.81-1...
1,2022-09-21 09:55:26.244354816,AKBNK,10.0,11.78,51822.0,11.8,11110.0,11.81,0.0,0.0,0.0,0.0,0.0,0.0,A-B-11.76-1000-7621969089428889683;A-B-11.75-5...
2,2022-09-21 09:55:26.244382464,AKBNK,10.0,11.78,51822.0,11.8,11110.0,11.81,0.0,0.0,0.0,0.0,0.0,0.0,A-B-11.65-2-7621969089428687845;A-B-11.65-5000...
3,2022-09-21 09:55:26.244411648,AKBNK,10.0,11.78,51822.0,11.8,11110.0,11.81,0.0,0.0,0.0,0.0,0.0,0.0,A-B-11.55-30-7621969089428656552;A-B-11.55-60-...
4,2022-09-21 09:55:26.244439808,AKBNK,10.0,11.78,51822.0,11.8,11110.0,11.81,0.0,0.0,0.0,0.0,0.0,0.0,A-B-11.5-100-7621969089428683810;A-B-11.5-100-...

In [8]:
default_values = {
        'Date': pd.to_datetime(0,'s'),
        'Asset': 'Default Asset',  
        'bid3qty': 0,
        'bid3px': 0,
        'bid2qty': 0,
        'bid2px': 0,
        'bid1qty': 0,
        'bid1px': 0,
        'ask1px': 0,
        'ask1qty': 0,
        'ask2px': 0,
        'ask2qty': 0,
        'ask3px': 0,
        'ask3qty': 0,
        'id3qty': 0,
    }
#The DataFrame is empty, create a new DataFrame with the default values
new_row_df = pd.DataFrame([default_values])

#looping through the data to construct the order book for each network time stemp
for data_index, row in data.iterrows():
    #if it is an add order
    if row['msg_type']=='A':
        #if it is a buy
        if row['side']=='B':
            #if its price is better than the current bids
            if row['price']>lob.iloc[-1]['bid3px']:
                # Get the last row using iloc with negative indexing
                last_row = lob.iloc[-1]
                if last_row['Date']<row['network_time']:
                    
            pass
        #if it is a sell
        if row['side']=='S':
            #if its price is better than the current asks
            pass
    #if the mesage type is delete
    if row['msg_type']=='D':
        pass
    #if the mesage type is execution
    if row['msg_type']=='E':
        pass
    pass

In [11]:
df=pd.DataFrame()
df.shape

(0, 0)